._h3{
    color: red;
}
.container{
    display: flex;
    background-color: #DDD;
    flex-direction: row;
    justify-content:flex-start;
    height: 250px;
    align-items:flex-start;

}
.child-1{
    background-color: red;
    flex-basis: 150px;
    flex-grow: 0;
    
}
.child-2{
    background-color: green;
    flex-basis: 200px;
    flex-grow: 0;
}
.child-3{
    background-color: blue;
    flex-basis: 150px;
    flex-grow: 0;
}
