._container .ul-menu{
    display: flex;
    list-style: none;
    justify-content: center;
}
.li{
    
    background-color:rgb(144, 144, 211);
    color:#FFF;
    border: #666 solid 1px;
    height:40px;
    width: 100px;
    display: flex; 
    justify-content: center;
    align-items: center;
    transition: all 1s; 
 
}
.li.sub{
    position: relative;
    transition: all 1s;
}
.li-sub{
    height: 40px;
    width: 150px;
    border: #666 solid 1px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 8px;
    transition: all 1s;
}
.sub-menu{
    list-style: none;
    position:absolute;
    background-color:rgb(144, 144, 211);
  
    padding: 0 ;
    left: 0;
    top: 100%;
    opacity: 0;

}
.sub:hover .sub-menu{
 opacity: 1;
 
}
.li:hover{
background-color: #333;

}
.li-sub:hover{
background-color: #333;

}

a{
    text-decoration: none;
    color:#FFF;
}